.container {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
}
.catalogContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
}
.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
