.container {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;
  width: 100%;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  width: 100%;
  text-align: left;
}
.searchResultContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 32px 64px;
  background-color: #ffffff;
  border-radius: 16px;
  gap: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
