.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  padding: 32px 80px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 40%;
}
.closeButton {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.inputName {
  font-weight: 600;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  padding: 8px 32px;
  width: 100%;
  font-size: large;
  border-radius: 8px;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  color: #2b2b2b;
  padding-left: 8px;
}
.inputBox:focus-visible {
  border: 1px solid #a4ae9d;
  outline: 2px solid #a4ae9d;
}
.submitButton {
  border: none;
  padding: 16px 48px;
  font-weight: 600;
  background-color: #e3502e;
  color: #ffffff;
  width: max-content;
  border-radius: 32px;
}
.passwordContainer {
  position: relative;
  display: flex;
  width: 100%;
}
.showPassword {
  position: absolute;
  top: 22%;
  right: 2%;
  height: 24px;
  width: 24px;
}
.disabled {
  background-color: #e5c7c0;
}
.signUpContainer {
  display: flex;
  gap: 8px;
}
.signUp {
  cursor: pointer;
  color: #e3502e;
}
.fullName {
  display: flex;
  gap: 16px;
}
