.container {
    display: flex;
    padding: 16px 64px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.updateButton {
    cursor: pointer;
    border: none;
    background-color: #e3502e;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 40px;
}
.exportContainer {
    width: 80%;
    background-color: #fff;
    border-radius: 16px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.select {
    padding: 4px 16px;
    font-size: large;
    border-radius: 8px;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    color: #2b2b2b;
    padding-left: 8px;
    outline: 1px solid #d9d9d9;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}
.exportSettings {
    display: flex;
    gap: 30px;
}
  