.container {
    display: flex;
    flex-direction: column;
    padding: 16px 80px 32px;
    gap: 32px;
    min-height: calc(100vh - 102px);
}
.header {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: left;
}
.orderInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}