.container {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
}
.catalogContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  gap: 16px;
}
.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalogContainer :first-child > {
  justify-content: right;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.filtersContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 75%;
  gap: 16px;
}
.filter {
  background-color: #e3502e;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.filter p {
  color: #ffffff;
}
.page {
  color: #e3502e;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.activePage {
  border-bottom: 2px solid #e3502e;
}